<a href="https://colab.research.google.com/github/mdfrhd101/JU/blob/main/20229027_Assignment_JU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#No-1
Write a Python program to count the number of characters (character frequency) in a string. <br>Sample String : google.com
Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
sample_string="google.com"
expected_dict = {}
for n in sample_string:
    keys = expected_dict.keys()
    if n in keys:
        expected_dict[n] += 1
    else:
        expected_dict[n] = 1
print(expected_dict)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

#No-2
Write a Python program to check if a given key already exists in a dictionary.

In [ ]:
dict = {0:111, 1: 222, 2: 333, 3: 444, 4: 555, 5: 666, 6:777}
given_key=1
if given_key in dict:
  print('Key is present.')
else:
  print('Sorry! Key is not present.')

Key is present.

#N0-3
Write a Python program to check if a given key already exists in a dictionary. 3. Write a Python program that accepts a sequence of comma-separated numbers from the
user and generates a list and a tuple of those numbers. <br>Sample data : 1, 5, 7, 23<br>
Expected Output :<br>
List : ['1', ' 5', ' 7', ' 23']<br>
Tuple : ('1', ' 5', ' 7', ' 23')

In [ ]:
values = input("Enter some numbers seprated by comma: ")
lst = values.split(",")
print(lst)
tpl=tuple(lst)
print(tpl)

Enter some numbers seprated by comma: 1,5,7,23
['1', '5', '7', '23']
('1', '5', '7', '23')

#No-4
Write a Python program to calculate the number of days between two dates. <br>
Sample dates : (2014, 7, 2), (2014, 7, 11)<br>
Expected output : 9 days

In [ ]:
from datetime import date
first_date = date(2014, 7, 2)
last_date = date(2014, 7, 11)
difference = last_date - first_date
print(difference.days,"days")

9 days

#No-5
Write a Python program to solve (x + y) * (x + y). <br>Test Data : x = 4, y = 3<br>
Expected Output : (4 + 3) ^ 2) = 49

In [ ]:
x=4
y=3
cal=(x+y)**2
print("(",x,"+",y,")^2 =",cal)

( 4 + 3 )^2 = 49

#No-6
Write a Python program to compute the future value of a specified principal amount, rate of interest, and number of years. <br>Test Data : amt = 10000, int = 3.5, years = 7<br>
Expected Output : 12722.79

In [ ]:
amt = 10000
int = 3.5
years = 7
future_value = amt*((1+(0.01*int)) ** years)
print(round(future_value,2))

12722.79

#No-7
Write a Python program that removes duplicate elements from a given array of numbers so
that each element appears only once and returns the new length of the array. <br>Sample Input: [0,0,1,1,2,2,3,3,4,4,4]<br>
Sample Output:
The list of unique numbers: [0,1,2,3,4]<br>
length of the unique list : 5

In [ ]:
sample=[0,0,1,1,2,2,3,3,4,4,4]
st=set(sample)
my_list=list(st)
print("The list of unique numbers:",my_list)
print("length of the unique list :",len(my_list))

The list of unique numbers: [0, 1, 2, 3, 4]
length of the unique list : 5

#No-8
Write a Python program to sort (ascending and descending) a dictionary by key value.

In [ ]:
my_dict = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
result = sorted(my_dict.items())
new_dict = sorted(my_dict.items(),  reverse = True)
print("Ascending:",result)
print("decending:",new_dict)

Ascending: [(0, 0), (1, 2), (2, 1), (3, 4), (4, 3)]
decending: [(4, 3), (3, 4), (2, 1), (1, 2), (0, 0)]

#No-9
Write a Python program to add a key to a dictionary.<br>
Sample Dictionary : {0: 10, 1: 20}<br>
Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
dict = {0:10, 1:20}
print(dict)
dict.update({2:30})
print(dict)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

#No-10
Write a Pandas program to create and display a DataFrame from a specified dictionary data
which has the index labels. <br>Sample Python dictionary data and list labels:<br><br>
exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}<br><br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
import numpy as np
import pandas as pd

exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

     name  score  attempts qualify
a    Arif   12.5         1     yes
b    Asir    9.0         3      no
c    Arik   16.5         2     yes
d    Anis    NaN         3      no
e    Anil    9.0         2      no
f  Ashish   20.0         3     yes
g   Anahi   14.5         1     yes
h    Alia    NaN         1      no
i   Alvin    8.0         2      no
j    Asim   19.0         1     yes